* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #efeeee;
    padding: 1rem;
}

#navbar {
    list-style-type: none;
    background-color: #999999;
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
    padding: 0.7rem;
}

#navbar > li a {
    color: black;
    text-decoration: none;
}

#about {
    padding: 1rem;
}

.about-div {
    display: flex;
    gap: 1.5rem;
}

#profile-picture {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-top: 0.5rem;
}

#profile-desc {
    min-width: 200px;
    width: 50%;
    margin: auto;
}